
#content {position: relative;left:50%;width: 2000px;  margin-left: -1000px;background: url(../images/content4/back.jpg) no-repeat; background-position: right bottom; background-attachment: fixed;}
#content .top_bg{width: 100%; background-color: rgb(255, 255, 255);}
#content .title_area{width:1200px;margin:0 auto;padding-top: 150px;padding-bottom:150px;position: relative;}

#content .content_area{width:1200px;margin:0 auto;}
#content .content_area h3{font-family:'Daum'; font-weight:400;font-size: 34px;margin-bottom:30px;}

/* event view */

.content_area{width: 1000px; margin: 0 auto}
.content_area #view_title{font-family: 'Nanum Gothic', sans-serif; font-size: 15px;}
.content_area #view_title #view_title1{overflow: hidden; border-top: #333 solid 1.5px; padding: 20px; background: #efeff1; border-bottom: 1px solid #ccc; font-weight: 700}
.content_area #view_title #view_title2{padding: 20px; border-bottom: 1px solid #ccc; overflow: hidden}

.content_area #view_title #view_title2 li:nth-child(1){float: left; margin-right: 10px; font-weight: 700}
.content_area #view_title #view_title2 li i{margin-right: 10px}
.content_area #view_title #view_title2 li:nth-child(2){float: left}
.content_area #view_title #view_title2 li:nth-child(3){float: right}

.content_area #view_content{padding: 50px 20px; border-bottom: 1px solid #ccc; margin-bottom: 40px; font-family: 'Nanum Gothic', sans-serif; font-size: 14px; line-height: 2em; text-align: justify}

#view_button{overflow: hidden; margin-bottom: 150px}
#view_button a{display: block; float: right; background: #232c1e; color: #fff; text-align: center; 
    font-family: 'Nanum Gothic', sans-serif; font-size: 15px; width: 50px; height: 18px; padding: 10px; 
    margin-left: 10px; border-radius: 5px;}

#view_button a:hover{background: #fff; color: #333; border: 1px solid #333; width: 48px; height: 16px;}