#content{width: 1200px; margin: 0 auto;}
#content .title_area{position: relative; padding-top: 150px;}

#content .content_area{width: 900px; overflow: hidden; margin: 100px auto 150px;}



.control-group{position: relative}
.control-group label{display: block; font-weight: 700; font-size: 20px; margin: 0 30px; padding-bottom: 15px}
.control-group label::after{width: 8px; height: 8px; content: ''; border-radius: 4px; background: #4c2886; position: absolute; top: 8px; left: 10px}

.control-group input{ border: none; background: #f6f6f6; padding: 5px; height: 40px; width: 900px; font-size: 16px; outline: 0;}

textarea{ border: none; background: #f6f6f6; padding: 5px; height: 300px; width: 900px; font-size: 16px; resize: none; outline: 0;}

.help-block{width: 100%; height: 20px; padding: 20px; color: #4c2886}

#success{height: 10px;}

.row button{cursor: pointer; display: block; background: #4c2886; color: #fff; text-align: center; font-size: 18px; width: 130px; padding: 10px; border: none; margin-left: 385px}

#success button{margin-right: 10px;}