#content{width: 1200px; margin: 0 auto;}
#content .title_area{position: relative; padding-top: 150px;}
#content .title_area ul{overflow: hidden; margin: 100px auto; width: 860px; border: 1px solid #ccc;}
#content .title_area ul li{float: left; width: 33.33%; position: relative; border-right: 1px solid #ccc; box-sizing: border-box;}
#content .title_area ul li:last-child{border-right: 0;}
#content .title_area ul li a{display: block; width: 100%;  height: 60px; text-align: center;color: #666; line-height: 3.5em; transition: all .7s ease;}
#content .title_area ul .current{color: #fff; background: #511f72;}



#content .content_area{overflow: hidden; margin: 0 0 150px 0;}

#content section{width: 1200px;}
.faq{border-bottom:1px solid #ccc; margin: 0 auto;}  
.faq .hgroup{ margin-bottom: 30px;}  

.faq .all{padding: 14px 54px;margin-left: 1020px}  
.faq ul{border-top: 2px solid #999; border-bottom: 1px solid #999;}
.faq .q{border-bottom:1px solid #ccc; position: relative;}  
.faq .q .trigger{display:block; padding: 30px 120px; text-align:left; font-size: 1.125em;}   
.faq .q .icon{display: block; position: absolute; right:40px; top:25px; font-size: 22px; color: #888;} 
.faq .a{padding: 20px 120px; line-height:1.75em; display: none; background:#f6f6f6; position: relative; text-align: justify; border-bottom: 1px solid #ccc;} 
.faq .qimg{display: block; width: 35px; height: 35px; font-size:20px; 
        text-align: center; color: #fff; background: #593174; border-radius: 50%; position: absolute; top: 25px; left: 40px;}
.faq .aimg{display: block; width: 35px; height: 35px; font-size:20px;
    text-align: center; color: #fff; background: #666; border-radius: 50%; position: absolute; top: 25px; left: 40px;}



