#content{width: 1200px; margin: 0 auto;}
#content .title_area{position: relative; padding-top: 150px;}

#content .calendar_box{margin:0 auto;}
#content #calendar {max-width: 1100px;margin:150px auto;}

