

body{background:url(../images/member_bg.jpg) no-repeat center bottom; background-size: cover; margin:50px auto 0 auto; background-attachment: fixed; font-family: 'Nanum Gothic', sans-serif;}
.hidden {
    display: block;
    position: absolute;
    left: -1000%;
    width: 1px;
    height: 1px;
    overflow: hidden;

}

li{list-style: none;}

.logo2{display: block; width:100px; height:100px; background: url(../images/logo.svg) no-repeat center center; text-indent: -9999%;background-size: cover; margin:0 auto 50px;}


.container {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 60px;
}

#id_pw_input strong {
    display: block;
    font-size: 50px;
    margin: 60px;
}

#id_pw_input ul {
    padding: 0;
}


form {width: 600px;height:560px;background-color: #fff;text-align: center;margin-bottom: 70px; border-radius: 20px;padding-top: 70px;}

.login_input {
    width: 400px;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.inner_wrap{
    width: 600px;
    position: relative;
    left: 50%;
    margin-left: -300px;
}

#id_pw_input {
    padding-top: 200px;
}


.login_button {
    width: 422px;
    height: 50px;
    background-color:#fe8c53;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.find_idpw {
    overflow: hidden;
    font-size: 15px;
    margin-top: 15px;
}

.find_idpw li {
    float: left;
    color: #999;
}

.find_idpw li .fas {
    margin: 0 8px 0 50px;
    color: #999;
}

.find_idpw li:nth-of-type(2) {
    float: right;
    margin-right: 90px;
}

.find_idpw li:nth-of-type(2) a {
    text-decoration: none;
    color: #999;
    margin-left: 10px;
}

.find_idpw li:nth-of-type(2) a:nth-of-type(2) {
    margin-left: 10px;
}


#join_button {
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    margin-top: 60px;
}

.joinUs {
    display: block;
    color: #999;
    text-decoration: none;
    font-size: 16px;
    float: left;
}

#join_button span {
    color: #999;
    display: block;
    margin-right: 15px;
    float: left;
}





#title p {margin: 30px 30px 50px 30px;padding-top: 20px;}
.telBox {color: #ccc;font-size: 10px;}
.find {width: 422px;font-size: 15px;border: none;border-radius: 5px;padding: 15px 0;margin-top: 20px;background:#232c1e;color: #fff;}
fieldset {border: none;padding: 0;}
#id_input_button #name {width: 400px;height: 50px;padding: 0 10px;margin-bottom: 20px;outline: none;border: 1px solid #ccc;border-radius: 5px;}
.telBox #hp1 {width: 110px;text-align: center; height: 52px;background: #fff;border: 1px solid #ccc;border-radius: 5px;}
.telBox #hp2,.telBox #hp3 {width: 120px;background: #fff;border: 1px solid #ccc; border-radius: 5px; height: 48px;padding: 0 10px;}
.login_btn {background-color:#fe8c53;color: #fff;text-decoration: none;border: none;border-radius: 5px;font-size: 14px;display: block; width: 422px;padding:15px 0;margin-bottom: 20px;}
#login_button{color: #999;display: block;font-size: 15px;width: 422px; position: relative;left: 50%; margin-left: -211px;margin-top: 20px;}
.pw_btn{color: #999;text-decoration: none;font-size: 15px;}
#join_btn .joinus {margin: 0;}
#loadtext span {display: block; margin: 10px 0;}
#loadtext strong {color: #999;}
#loadtext {font-size: 14px;line-height: 1.8em;color: #999;width: 400px;}
#join_button {overflow: hidden;width: 250px;text-align: center;margin-left: 150px;margin-top: 20px;}
#join_button ul{overflow: hidden;width: 210px;text-align: center;}
#join_button ul li{float: left;}
#join_button ul li:nth-of-type(1){margin-right: 40px;}
.loadtexton{background: #f7f7f7;padding: 20px 0;margin: 0 auto;margin-top: 20px;}


.find_id, .find_name{border: 1px solid #cccc;border-radius: 5px;padding: 15px 10px;height: 21px;margin-right: 10px;margin-bottom: 20px;}
.find_id{margin-right: 0;}
.join_btn{margin-left: 15px;}