body{background:url(../images/member_bg.jpg) no-repeat center bottom; background-size: cover; 
    margin: 80px auto 0 auto; background-attachment: fixed; font-family: 'Nanum Gothic', sans-serif;}
label {text-indent: -9999;}
#content{background-color: #fff; margin: 50px auto; overflow: hidden;border-radius: 20px; text-align: center; width: fit-content;}
form{float: left; padding: 30px 70px;}
.logo2{display: block; width:100px; height:100px; background: url(../images/logo.svg) no-repeat center center; text-indent: -9999%; margin: 0 auto;
    background-size: cover; margin: 30px auto 50px;}
 
h3{font-size: 26px; margin: 20px 0;}
input{width: 460px; border: 0;padding: 3px 0 3px 10px; height: 45px;font-size: 17px; outline: none; margin: 20px 0 0;}
#id, #pass{padding-right: 14px;}

#id_pw_input ul li{border-bottom: 1px solid #efefef;}
#login_button button{width: 280px; outline: 0; border: 0;cursor:pointer;background: #fe8c53;color: #000; height: 50px; margin: 80px 0 30px; font-size: 16px;}
#login_button button:hover{ background:#232c1e;color: #fff;}
#join_button{margin-bottom: 10px;}
#join_button a{font-weight: 700; text-decoration: underline; margin-left: 8px;}

.find_btn{margin-bottom: 50px;}
.find_btn li a{margin: 0 20px;}
.find_btn li a:hover{color:#fe8c53}